@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}


/*blog*/

 .blog img{
  width: 100%;
 }
.blog h5{
  margin-bottom: 0;
  font-weight: 600; 
}
 .box {
  background-color: white;
  padding: 3%;
  box-shadow: 0px 2px 2px #c9d1d6;
 }
.box img{
  width:100%;
}
.portfolio .row .col-md-4{
  margin-bottom: 2%;
}
.box h5{
  margin-bottom: 0;
  font-weight: 600; 
}

/*blogss*/
.pagination  a:hover{
 color: black;
}

.caja img{
  width: 100%;
}
.btn-group>.btn:first-child {
    margin-left: 15px;
}
.caja i{
  margin-left: 2%;
  color: #787878 ;
}
.caja{
   background-color: white;
   padding: 0% 0% 2%  0;
  box-shadow: 0px 2px 2px #c9d1d6;
}
.caja i h6{
  color: gray;
  font-size: 60px;
}
.caja h3{
  padding: 0 2%  0;
}
.caja p{
  padding: 2% 2% 0%;
}
 .blogs .imag{
  margin-top: 7%;
}
.blogs h4{
  font-size: 23px;
  margin-top: 12%;
}
/*contac*/
 textarea.form-control {
    height: auto;
    margin-top: 15%;
}
.contac .col-md-4{
  margin-top: 
}
/*item*/
.item h5{
  margin-left: 2%;
}
.item .cont{
  background-color: #F2F2F2;
  padding: 0% 0% 2% 0%;
  width: 95%;
  margin-left: 2%;
  margin-top: 3%;
  box-shadow: 0px  2px 2px #c9d1d6;
}
.item  h4{
   font-size: 23px;
  margin-top: 12%;
}
 .item .imag{
  margin-top: 7%;
}